{% extends 'core/base_admin.html' %}
{% load static %}
{% block contenedor %}
<div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="{% static 'core/img/23.jpg' %}"></a>
        <a class="carousel-item" href="#two!"><img src="{% static 'core/img/2.jpg' %}"></a>
        <a class="carousel-item" href="#three!"><img src="{% static 'core/img/3.jpg' %}"></a>
        <a class="carousel-item" href="#four!"><img src="{% static 'core/img/4.jpg' %}"></a>
      </div>
{% endblock contenedor %}